
/* COLOURS:

MID-GREY:       abb0b8 (HRs, sidenotes...)
LINK BLUE:      195ad1
PROGRESS GREEN: 3fd18e
TEXT GREY:      272a29

*/


@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Arvo:400,400italic,700,700italic);

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  box-sizing: border-box !important;
}

a {text-decoration: none; color: inherit; }
.bold {font-weight: bold; }
.sidenote {color: #abb0b8; display: block; width: 100%; }


body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:14px;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  color: #272a29;
}

/* Portrait layout (default) */
.app {
  position: absolute;
  height: 100%;
  width: 100%;
  padding:0;
  margin: 0;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

.nav {
  margin-bottom: 60px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav li {
  width: 33.33%;
  max-width: 33.33%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100% ;
  height: 100%;
  font-size: 16px;
}

.nav a span {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.nav .lift a {background-color: #12bf82; }
.nav .profile a {background-color: #525dc9; }
.nav .review a {background-color: #eea132; }

.nav li.active a:after {
  position: absolute;
  top: 60px;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.nav li.lift.active a:after {border-top: 10px solid #12bf82; left: 10%;}
.nav li.profile.active a:after {border-top: 10px solid #525dc9; left: 44%}
.nav li.review.active a:after {border-top: 10px solid #eea132; left: 78%}

.wrapper {
  padding: 15px;
}

.welcome {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
  transform: translate3d( 0px,0px,0px);
  z-index: -100;
  background-image: url(http://i.imgur.com/crjhZmT.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome img {
  margin: 0 auto;
  width: 80px;
  display: inline-block;
  position: fixed;
  left: 42%;
  top: 20px;
}

.welcome h1 {
  text-align: center;
  margin-top: 105px;
  color: white;
  font-family: 'Slabo 27px', serif;;
  font-size: 36px;
  font-weight: normal;
}

.connect {
  height: 55px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.connect a.sign-up,
.connect a.log-in {
  width: 50%;
  display: inline-block;
  outline: 0;
  border: 0;
  height: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding-top: 18px;
  font-family: 'Slabo 27px', serif;
}

.connect a.sign-up {background-color: #05c26b; }
.connect a.log-in {background-color: #4374f0; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}






/* **************
**** PROFILE ****
************** */

.names.section {
  height: 135px;
}

.identity.section {
  height: 160px;
}

.progess-bar {
  display: inline-block;
  width: 86%;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #3fd18e;
  padding: 0 10px;
  line-height: 1.5;
  background: linear-gradient(90deg, #96f0c7 70%, white 29%);
  color: #3fd18e;
  font-size: 13px;
}

.edit {
  display: inline-block;
  width: 12%;
  text-align: right;
  font-size: 14px;
}

.edit a {
  color: #195ad1;
}


.section {
  border-bottom: 1px solid #abb0b8;
  padding: 15px 0;
}

.photo {
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: inline-block;
}

.photo img {
  width: 100%;
  border-radius: 50%;
}

.name-type {
  display: inline-block;
  font-size: 24px;
  width: 65%;
  vertical-align: top;
  padding: 10px 0 0 20px;
}

.names .type {
  font-size: 18px;
  color: #abb0b8;
  padding-top: 8px;
}

.identity.section div {
  padding-bottom: 16px;
}

.identity.section div:last-child {
  padding-bottom: 5px;
}

.option-wrapper {
  width: 25%;
  display: inline-block;
  padding: 10px;
}

.accepting.section .option {
  border: 1px solid #abb0b8;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  height: 70px;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.verified,
.unverified {
  font-size: 18px;
  padding: 4px 0;
  border-radius: 4px;
  margin: 5px 0;
}

.unverified {
  padding: 8px 25px;
}

.facebook {
  background-color: #525dc9;
  color: white;
}

.phone {
  background-color: #525dc9;
  color: white;
}


.verified:before {
  font-family: FontAwesome;
  content: "\f058";
  color: #3fd18e;
  padding-right: 8px;
}

.verified {
  background-color: white;
  color: #272a29;
}

.verification.section {
  border-bottom: 0;
}


/* ***********
**** EDIT ****
*********** */

.change-photo {
  position: absolute;
  left: 95px;
  top: 185px;
}

.name-type.edit {
  padding-top: 0;
  text-align: left;
}

input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #cbcbcb;
  display: inline-block;
  padding: 0 0 5px 5px;
  font-size: 15px;
}

.identity.section label {
  width: 35%;
  display: inline-block;
}

.identity.section i.fa {
  padding-right: 8px;
}

.identity.section input {
  width: 63%;
  display: inline-block;
  padding-bottom: 9px;
}

.name-type.edit input {
  width: 50%;
}

.name-type.edit label {
  font-size: 15px;
  display: inline-block;
  width: 40%;
}

.name-type.edit select,
.identity.section input[type="date"] {
  background: transparent;
  font-size: 15px;
  width: 50%;
  padding: 9px;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #cbcbcb;
  border-radius: 0;
  -webkit-appearance: none;
}

.name-type.edit .select-label:after {
  content: "\f078";
  position:absolute;
  font-family: FontAwesome;
  color: #cbcbcb;
  left: 297px;
  padding-top: 2px;
}

.gender-checkbox {
  max-width: 40px;
  width: 30%;
  vertical-align: top;
  position: relative;
  display: inline-block;
}

.gender-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
  border-radius: 4px;
}

.gender-checkbox label:after {
  font-size: 20px;
  opacity: 0.3;
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  top: 9px;
  left: 10px;
  font-family: FontAwesome;
}

.gender-checkbox.male   label:after {content: '\f222'; }
.gender-checkbox.female label:after {content: '\f221' !important; }
.gender-checkbox.other  label:after {content: '\f22d' !important; }

.gender-checkbox label:hover::after {
  opacity: 0.8;
}

.gender-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

button#state {
  width: 100%;
  border: 0;
  border-radius: 1px;
  padding: 10px 0;
  background-color: #424242;
  color: white;
  font-size: 14px;
}

button#state.extended-confirm {
  height: 60px;
}

button#state.extended-confirm:after {
  content: 'Are you sure?';
  display: block;
  padding: 5px;
  font-weight: 12px;
}

#confirm-switch {
  visibility: hidden;
}

button#yep,
button#cancel {
  background-color: #3fd18e;
  color: white;
  width: 50%;
  padding: 10px 0;
  border: 0;
  font-size: 14px;
}

button#cancel {
  background-color: #c71919;
}


/* **************
**** REVIEWS ****
************** */


.review-section {
  height: 100px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.review-section span {
  position: relative;
  top: 15%;
}

.review-section span.number {
  font-size: 60px;
  color: #e6e6e6;
}

.review-section span.text {
  padding-left: 15px;
  font-size: 25px;
  top: 5%;
}

/* Only .review-section with .after will show the arrow */
.review-section.after:after {
  font-family: FontAwesome;
  content: '\f054';
  color: #e6e6e6;
  font-size: 30px;
  right: 8px;
  position: absolute;
  top: 37px;
  transform: scale(0.6,2.3);
  -webkit-transform: scale(0.6,2.3);
  -moz-transform: scale(0.6,2.3);
  -ms-transform: scale(0.6,2.3);
  -o-transform: scale(0.6,2.3);
}

.reviews.wrapper a,
.reviews.wrapper a:hover {
  text-decoration: none;
  color: inherit;
}

.review-section.to-rate .right {
  vertical-align: top;
  display: inline-block;
  width: 60%;
  padding-top: 10px;
}

.review-section.to-rate span {
  padding-left: 15px;
  width: 100%;
  display: inline-block;
}

h1 {
  font-weight: normal;
  color: #e5e5e5;
}

.review-section.to-rate span.name {
  vertical-align: top;
  font-size: 20px;
}

.review-section.to-rate img {
  width: 80px;
  border-radius: 50%;
  margin-top: 10px;
}

.right span.sidenote {
  font-size: 12px;
}

.right span.stars {
  font-size: 20px;
  padding: 7px 15px;
}







.lift-workflow {
  text-align: center;
  position: relative;
}

.back-link,
.forward-link {
  position: absolute;
  background-color: #e6e6e6;
  height: 60px;
  font-weight: bold;
  top: 150px;
}

.back-link {
  left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 18px 10px 10px 4px;
}

.forward-link {
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 18px 4px 10px 10px;
}


.lift-workflow input[type=text] {
  border: 1px solid #cbcbcb;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  background-color: #fafafa;
  width: 70%;
}


.lift-workflow input:active,
.lift-workflow input:focus {
  border: 0;
  outline: 0;
}







input[type=radio], input[type=checkbox] {
    display:none;
  }

input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  }

   input[type=radio]:checked + label, input[type=checkbox]:checked + label{
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      background-color:#e0e0e0;
  }






